
  <p style="color:#078aba; font-size: 15px; margin-top: -25px">
    <%= t('mailer.client_uuid') %> <%= @client_uuid %>
  </p>

<p style="color:#078aba; font-size:30px;line-height: 100%">
  <%= t(".requested") %>
</p>

<p style="margin-bottom:170px;">
  <span style="color:#5F5F5F; font-weight: 500"><%= t(".follow_the_link") %></span>
  <%= link_to @token_url, @token_url%><br/>
  <span style="color:#9A9A9A; font-weight: 500"><%= t("token_mailer.activation.link_expire") %></span>
</p>


